<div class="tab-pane tab-property {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% set generalProperties %}
        {{ form_row(form.code) }}
    {% endset %}

    {{ elements.tabSections({
        'pane.accordion.general_properties': elements.form_container(generalProperties)
    }) }}
</div>
