<div class="tab-pane tab-property {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {{ elements.tabSections({
        'pane.accordion.general_properties': elements.form_container(form_row(form.code))
    }) }}
</div>
